<tr>
  <td><%= vagon.vtype %></td>
  <td><%= link_to 'Show', vagon %></td>
  <td><%= link_to 'Edit', edit_vagon_path(vagon) %></td>
  <td><%= link_to 'Destroy', vagon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
