<p id="notice"><%= notice %></p>

<h1>Vagons</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @vagons %>
  </tbody>
</table>

<br>

<%= link_to 'New vagon', new_vagon_path %>
