<p id="notice"><%= notice %></p>

<h1>Places</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @places %>
  </tbody>
</table>

<br>

<%= link_to 'New place', new_place_path %>
